.search-container {
  padding: 15px;
  background-color: #e2e1e1;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.wp-20 {
  width: 20%;
}

.wp-30 {
  width: 30%;
}

.wp-13 {
  width: 13%;
}

.wp-17 {
  width: 17%;
}

.wp-9 {
  width: 9%;
}

.wp-11 {
  width: 11%;
}
